
                <h2 class="post-title">About Matthew Saidel</h2>
                <p>
                    Matthew Saidel most recently worked as a field organizer on Cory Booker's successful Senate campaign. He organized a critical swing county to within 900 votes of a victory and developed several young volunteers into inspired activists and future campign professionals.
                    <br/>
                    <br/>	
                    He graduated with an MA in international affairs from the Josef Korbel School of International Studies where he focused on finace, trade, and development. He completed undergraduate coursework in Philosophy (and DJing for college radio) at George Washington University in 2007. 
                    <br/>
                    <br/>
                    Contact information and other work experience is <a href="https://www.dropbox.com/sh/hxfk0lygmbh6v1s/TRxiuYOF8w/Saidel_Resume_Current.pdf">available on his resume</a>.
                </p>
