
                <h2 class="post-title">About Matthew Saidel</h2>
                <p>
                    Matthew Saidel most recently worked as a field organizer on Cory Booker's successful Senate campaign. He is an alumni of University of Denver, where he received a Master's in Global Finace, Trade and Economic Integration in 2012. He completed undergraduate coursework in Philosophy (and DJing for college radio) at George Washington University in 2007. Contact information and other work experience is <a href="https://www.dropbox.com/sh/hxfk0lygmbh6v1s/TRxiuYOF8w/Saidel_Resume_Current.pdf">available on his resume</a>.
                </p>
